* {
    margin: 0;
    padding: 0
}

body{
    overflow: hidden;
    background-color: #ecb265;
}

h1{
font-family: vcr osd mono;
position: absolute;
z-index: -100;
left: 226px;
top: 130px;
font-size: 6em;
}

#start-button{
background: green;
z-index: -100;
margin: 20px;
padding: 20px 40px;
font-size: 1.5em;
position: absolute;
left: 500px;
top: 269px;
border-radius: 20px;
color: white;
}

#teclas{
    left: 339px;
    top: 423px;
    position: absolute;
    width: 559px;
    z-index: -100;
    margin-bottom: 20px;
}

#canvas {
    margin: 0;
    padding: 0;
}
